{% extends 'base.html' %}

{% block content %}


{% if show_info %}
   <h1>{{ show_info.show_title }}</h1>
   <p><strong>{{ show_info.episode_title }}</strong></p>
   <p>Season: {{ show_info.season }}; Episode {{ show_info.episode_number }}</p>
{% endif %}

{% if countdown_timer %}
    <script src=/static/js/countdown.js></script>
    <p id="countdown-holder"></p>
    <script>
        var clock = document.getElementById("countdown-holder")
        , targetDate = new Date({{ countdown_timer.year }}, {{ countdown_timer.month }}, {{ countdown_timer.day }}, {{ countdown_timer.hour }}, {{ countdown_timer.minute }}, {{countdown_timer.second }});
 
        clock.innerHTML = countdown(targetDate).toString();
        setInterval(function(){
          clock.innerHTML = countdown(targetDate).toString();
        }, 1000);
    </script>
{% endif %}

{% endblock %}
